[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bufexplorer.zip"]
	path = bufexplorer.zip
	url = git://github.com/vim-scripts/bufexplorer.zip.git
[submodule "bundle/buffer_explorer"]
	path = bundle/buffer_explorer
	url = git://github.com/vim-scripts/bufexplorer.zip.git
[submodule "bundle/bufexplorer.zip"]
	path = bundle/bufexplorer.zip
	url = git://github.com/vim-scripts/bufexplorer.zip.git
[submodule "bundle/vim-closebuffer"]
	path = bundle/vim-closebuffer
	url = git://github.com/bronson/vim-closebuffer.git
[submodule "bundle/IndexedSearch"]
	path = bundle/IndexedSearch
	url = git://github.com/vim-scripts/IndexedSearch.git
[submodule "bundle/YAIFA"]
	path = bundle/YAIFA
	url = git://github.com/Raimondi/YAIFA.git
[submodule "bundle/vim-matchit"]
	path = bundle/vim-matchit
	url = git://github.com/mhz/vim-matchit.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/taglist.vim"]
	path = bundle/taglist.vim
	url = git://github.com/vim-scripts/taglist.vim
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/snipmate-snippets"]
	path = bundle/snipmate-snippets
	url = git://github.com/scrooloose/snipmate-snippets.git
[submodule "bundle/Align"]
	path = bundle/Align
	url = git://github.com/vim-scripts/Align.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/jQuery"]
	path = bundle/jQuery
	url = git://github.com/vim-scripts/jQuery.git
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/zencoding-vim"]
	path = bundle/zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
[submodule "bundle/tag-list"]
	path = bundle/tag-list
	url = https://github.com/jcf/tag_list.vim.git
[submodule "bundle/auto_close"]
	path = bundle/auto_close
	url = https://github.com/Townk/vim-autoclose.git
[submodule "bundle/tComment"]
	path = bundle/tComment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "bundle/php-indent"]
	path = bundle/php-indent
	url = https://github.com/vim-scripts/PHP-correct-Indenting.git
[submodule "bundle/color_picker"]
	path = bundle/color_picker
	url = https://github.com/vim-scripts/VIM-Color-Picker.git
