global !p
def cs(snip):
    c = '#'
    cs = snip.opt("&commentstring")
    if len(cs) == 3:
        c = cs[0]
    return c
def spaces(str):
    import re
    st = re.split('^(\s*)', str)
    if len(st)>1:
        return len(st[1]) 
    else:
        return 0

endglobal

snippet ban "Crazy good banner" b
`!p c = cs(snip)`

${1:content}
`!p 
a = dir(vim)
for element in a:
    snip.rv += str(element) +",",
`
$0
endsnippet
