global !p
def cs(snip):
    c = '#'
    cs = snip.opt("&commentstring")
    if len(cs) == 3:
        c = cs[0]
    return c
endglobal

snippet ban "Crazy good banner" b
`!p
c = cs(snip)
bar = 75*c 

snip.rv = bar
snip += c + " " + (71-len(t[1]))/2*' '
`${1:content}`!p

a = 71-len(t[1])
snip.rv = (a/2 + a%2) * " " + " " + c 
snip += bar`
$0
endsnippet
